{
  "folders": [
    {
      "name": "✨ xorgx ✨",
      "path": "."
    },
    {
      "name": "server",
      "path": "server"
    },
    {
      "name": "server/modules",
      "path": "server/modules"
    }
  ],
  "settings": {
    "jest.disabledWorkspaceFolders": [
      "ROOT",
    ],
    "workbench.colorCustomizations": {
      "activityBar.background": "#085bae",
      "titleBar.activeBackground": "#085bae",
      "titleBar.activeForeground": "#FFFBFD"
    },
    "cSpell.enableFiletypes": [
      "*"
    ],
    "vsicons.presets.nestjs": true,
    "restoreTerminals.runOnStartup": true,
    "restoreTerminals.keepExistingTerminalsOpen": true,
  },
  "extensions": {
    "recommendations": [
      "nguyenngoclong.terminal-keeper",
      "in4margaret.compareit"
    ],
  },
  "geex": {
    "orgName": "xorgx",
  }
}
