{
  "version": 2,
  "activeEnv": "local",
  "webServerPort": 0,
  "dnsServerPort": 0,
  "defaultDns": null,
  "logLevel": "",
  "logFile": "",
  "registerContainerNames": null,
  "hostMachineHostname": "host.docker",
  "domain": "",
  "dpsNetwork": true,
  "dpsNetworkAutoConnect": true,
  "serverProtocol": null,
  "dockerHost": null,
  "resolvConfOverrideNameServers": null,
  "noRemoteServers": null,
  "noEntriesResponseCode": null,
  "remoteDnsServers": [
    "223.5.5.5",
    "1.1.1.1",
    "8.8.8.8"
  ],
  "envs": [
    {
      "name": "local",
      "hostnames": [
        {
          "id": 0,
          "hostname": "host.docker.internal",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 1,
          "hostname": "dns-server.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 2,
          "hostname": "elasticsearch.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 3,
          "hostname": "logstash.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 4,
          "hostname": "kibana.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 5,
          "hostname": "apm-server.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 6,
          "hostname": "redis.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 7,
          "hostname": "mongo.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 8,
          "hostname": "rabbitmq.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 9,
          "hostname": "traefik.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 10,
          "hostname": "api.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        }
      ]
    },
    {
      "name": "dev",
      "hostnames": [
        {
          "id": 10000,
          "hostname": "host.docker.internal",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        },
        {
          "id": 10001,
          "hostname": "dns-server.dev.xorgx.tech",
          "ip": "127.0.0.1",
          "target": "acme.com",
          "ttl": 10,
          "type": "A"
        }
      ]
    }
  ]
}
