<!-- ======= Hero Section ======= -->
<section id="hero"
style="margin-top: -85px;"
         class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
           data-aos="fade-up"
           data-aos-delay="200">
        <h1>A fullstack platform <br> build for developers&business</h1>
        <h2>Pre-built application modules <br>advanced startup templates <br>rapid application development tooling <br>developer&business
          oriented
          best practice.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about"
             class="btn-get-started scrollto">Live Demo</a>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
             class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>How it works?</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img"
           data-aos="zoom-in"
           data-aos-delay="200">
        <img src="assets/img/hero-img.png"
             class="img-fluid animated"
             alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->


<!-- ======= Cliens Section ======= -->
<section id="cliens"
         class="cliens section-bg">
  <div class="container">

    <div class="row"
         data-aos="zoom-in">

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-1.png"
             class="img-fluid"
             alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-2.png"
             class="img-fluid"
             alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-3.png"
             class="img-fluid"
             alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-4.png"
             class="img-fluid"
             alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-5.png"
             class="img-fluid"
             alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/clients/client-6.png"
             class="img-fluid"
             alt="">
      </div>

    </div>

  </div>
</section><!-- End Cliens Section -->


<!-- ======= Why Us Section ======= -->
<section id="why-us"
         class="why-us section-bg">
  <div class="container-fluid"
       data-aos="fade-up">

    <div class="row">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          <h3>Modern architecture for <strong>developers&business friendly</strong> software solutions. </h3>
          <p>
            Geex Framework is a complete infrastructure to create modern web applications by following the best practices and conventions of
            web development.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse"
                 class="collapse"
                 data-bs-target="#accordion-list-1"><span>01</span>Monolithic, with microservice support <i
                   class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1"
                   class="collapse show"
                   data-bs-parent=".accordion-list">
                <p>
                  The core framework & pre-built modules are highly cohesive monoliths, but designed with microservice architecture in mind.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse"
                 data-bs-target="#accordion-list-2"
                 class="collapsed"><span>02</span> Modular Architecture, which is extensible & replaceable <i
                   class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2"
                   class="collapse"
                   data-bs-parent=".accordion-list">
                <p>
                  Geex provides a module system that allows you to develop reusable application modules, to leverage all your valuable
                  business logic.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse"
                 data-bs-target="#accordion-list-3"
                 class="collapsed"><span>03</span> Domain Driven Design, with implicit best practice <i
                   class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3"
                   class="collapse"
                   data-bs-parent=".accordion-list">
                <p>
                  Geex always keeps DDD in mind, we bootstrap many DDD concepts in framework and you can use them without effort. Writing
                  clean code is as natural as breathing the air.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
           style='background-image: url("assets/img/why-us.png");'
           data-aos="zoom-in"
           data-aos-delay="150">&nbsp;</div>
    </div>

  </div>
</section><!-- End Why Us Section -->

<!-- ======= Skills Section ======= -->
<!-- <section id="skills"
         class="skills">
  <div class="container"
       data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 d-flex align-items-center"
           data-aos="fade-right"
           data-aos-delay="100">
        <img src="assets/img/skills.png"
             class="img-fluid"
             alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content"
           data-aos="fade-left"
           data-aos-delay="100">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>

        <div class="skills-content">

          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar"
                   role="progressbar"
                   aria-valuenow="100"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar"
                   role="progressbar"
                   aria-valuenow="90"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar"
                   role="progressbar"
                   aria-valuenow="75"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Photoshop <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar"
                   role="progressbar"
                   aria-valuenow="55"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</section> -->
<!-- End Skills Section -->

<!-- ======= Templates Section ======= -->
<section id="templates"
         class="templates section-bg">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>Templates</h2>
      <p>We got templates that make you jump-start your project in a few minutes.</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch"
           data-aos="zoom-in"
           data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Fullstack</a></h4>
          <p>We provides a layered, modular and DDD-based fullstack solution, to build a full featured web application.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
           data-aos="zoom-in"
           data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Module</a></h4>
          <p>We provide an atomized module, can be deployed as a module in monolith project or a independent microservice.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
           data-aos="zoom-in"
           data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Clients</a></h4>
          <p>We provide a set of bootstrap UIs, showcase your first online web app with zero effort.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
           data-aos="zoom-in"
           data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Schematics</a></h4>
          <p>We provide a way to quick expand you logic, save your time from endless copy & paste.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<!-- <section id="portfolio"
         class="portfolio">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
        Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic
        quas.</p>
    </div>

    <ul id="portfolio-flters"
        class="d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100">
      <li data-filter="*"
          class="filter-active">All</li>
      <li data-filter=".filter-app">App</li>
      <li data-filter=".filter-card">Card</li>
      <li data-filter=".filter-web">Web</li>
    </ul>

    <div class="row portfolio-container"
         data-aos="fade-up"
         data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-1.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>App 1</h4>
          <p>App</p>
          <a href="assets/img/portfolio/portfolio-1.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="App 1"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-2.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>Web 3</h4>
          <p>Web</p>
          <a href="assets/img/portfolio/portfolio-2.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="Web 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>App 2</h4>
          <p>App</p>
          <a href="assets/img/portfolio/portfolio-3.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="App 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>Card 2</h4>
          <p>Card</p>
          <a href="assets/img/portfolio/portfolio-4.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="Card 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>Web 2</h4>
          <p>Web</p>
          <a href="assets/img/portfolio/portfolio-5.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="Web 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>App 3</h4>
          <p>App</p>
          <a href="assets/img/portfolio/portfolio-6.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="App 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>Card 1</h4>
          <p>Card</p>
          <a href="assets/img/portfolio/portfolio-7.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="Card 1"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>Card 3</h4>
          <p>Card</p>
          <a href="assets/img/portfolio/portfolio-8.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="Card 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg"
               class="img-fluid"
               alt=""></div>
        <div class="portfolio-info">
          <h4>Web 3</h4>
          <p>Web</p>
          <a href="assets/img/portfolio/portfolio-9.jpg"
             data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link"
             title="Web 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html"
             class="details-link"
             title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

    </div>

  </div>
</section> -->
<!-- End Portfolio Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing"
         class="pricing">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <p>We will always provide a free plan for small individuals. But we need your support, please upgrade as your business grows.</p>
    </div>

    <div class="row">

      <div class="col-lg-4"
           data-aos="fade-up"
           data-aos-delay="100">
        <div class="box">
          <h3>Communist Plan</h3>
          <h4><sup>$</sup>0<span>forever</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Startup template</li>
            <li><i class="bx bx-check"></i> In service upgrade</li>
            <li><i class="bx bx-check"></i> Perpetual license</li>
            <li class="na"><i class="bx bx-x"></i> <span>Private ticket & email support</span></li>
            <li class="na"><i class="bx bx-x"></i> <span>Real time remote meeting support</span></li>
            <li class="na"><i class="bx bx-x"></i> <span>Customized modules development</span></li>
          </ul>
          <a href="#"
             class="buy-btn">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0"
           data-aos="fade-up"
           data-aos-delay="200">
        <div class="box featured">
          <h3>Pro Plan</h3>
          <h4><sup>$</sup>29<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Startup template</li>
            <li><i class="bx bx-check"></i> In service upgrade</li>
            <li><i class="bx bx-check"></i> Perpetual license</li>
            <li><i class="bx bx-check"></i> Private ticket & email support</li>
            <li><i class="bx bx-check"></i> Real time remote meeting support</li>
            <li class="na"><i class="bx bx-x"></i> <span>Customized modules development</span></li>
          </ul>
          <a href="#"
             class="buy-btn">Get Started</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0"
           data-aos="fade-up"
           data-aos-delay="300">
        <div class="box">
          <h3>Enterprise Plan</h3>
          <h4><sup>$</sup>49<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Startup template</li>
            <li><i class="bx bx-check"></i> In service upgrade</li>
            <li><i class="bx bx-check"></i> Perpetual license</li>
            <li><i class="bx bx-check"></i> Private ticket & email support</li>
            <li><i class="bx bx-check"></i> Real time remote meeting support</li>
            <li><i class="bx bx-check"></i> Customized modules development</li>
          </ul>
          <a href="#"
             class="buy-btn">Get Started</a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->

<!-- ======= FAQ Section ======= -->
<section id="faq"
         class="faq section-bg">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>FAQ</h2>
      <p>You can browse our help topics or search in the frequently asked questions, or you can reach us by Wechat.</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up"
            data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
             class="collapse"
             data-bs-target="#faq-list-1">What are the differences between the open source Geex Framework and Geex Commercial?<i
               class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1"
               class="collapse show"
               data-bs-parent=".faq-list">
            <p>
              Geex framework is a modular, themeable, microservice compatible application development framework for ASP.NET Core. It
              provides a complete
              architecture and a strong infrastructure to let you focus on your own business code rather than repeating yourself for every
              new project. It
              is based on the best practices of software development.

              Geex framework is completely free, open source and community-driven. It also provides a free theme and some pre-built modules
              (e.g. identity
              management and tenant management).

              Geex Commercial adds the following benefits on top of the Geex framework:

              Professional Bootstrap UI templates
              Enterprise ready, feature-rich, pre-built Application Modules (e.g. Identity Server management, SaaS management, language
              management)
              Tooling to support your development productivity (e.g. Geex Schematics)
              Training & Support
              Visit the following link for more information https://todo.com
            </p>
          </div>
        </li>

        <li data-aos="fade-up"
            data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
             data-bs-target="#faq-list-3"
             class="collapsed">Do you have Geex onboarding training? <i class="bx bx-chevron-down icon-show"></i><i
               class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3"
               class="collapse"
               data-bs-parent=".faq-list">
            <p>
              Yes, we have Geex Training Services to help you get your Geex project started fast. You will learn about Geex from an Geex
              core
              team member, and
              you will get the skills to begin your Geex project. In the onboarding training, we will explain how to set up your development
              environment,
              install the required tools, create a fully functional CRUD page. The training will be live and the Zoom application will be
              used, and we are
              open to using other online meeting platforms. The language of the training will be English. You can also ask your questions
              about Geex during
              the sessions. A convenient time and date will be planned for both parties. To get more information, contact us at
              info@geex.io.
            </p>
          </div>
        </li>

        <li data-aos="fade-up"
            data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
             data-bs-target="#faq-list-4"
             class="collapsed">Do you have a refund policy? <i class="bx bx-chevron-down icon-show"></i><i
               class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4"
               class="collapse"
               data-bs-parent=".faq-list">
            <p>
              You can request a refund within <strong>30 days</strong> of your license purchase. The Business and Enterprise license types
              have source-code download
              option, therefore we provide a 60% refund within 30 days for Business and Enterprise licenses. In addition, no refunds are
              made for renewals
              and second license purchases.
            </p>
          </div>
        </li>

        <li data-aos="fade-up"
            data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
             data-bs-target="#faq-list-5"
             class="collapsed">Do you have special offers for students, individuals and startups? <i
               class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5"
               class="collapse"
               data-bs-parent=".faq-list">
            <p>
              Yes, for students, individuals, and startups, we offer a 1-year Communist Plan, with renewals support, as long as you can
              provide the
              relevant documents. For students, need to provide a student ID. For individuals and startups need to provide proof of identity
              and
              income within 6 months. (Individual's average monthly income bellow 15,000 or company's average
              monthly profit bellow 50,000 can apply for a trial license.)
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section><!-- End FAQ Section -->

<!-- ======= About Us Section ======= -->
<!-- <section id="about"
         class="about">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a href="#"
           class="btn-learn-more">Learn More</a>
      </div>
    </div>

  </div>
</section> -->
<!-- End About Us Section -->

<!-- ======= Team Section ======= -->
<!-- <section id="team"
         class="team section-bg">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <p>We started Geex because we haven't found a best practice for DDD.
        <br>
        We want Geex to be the best developer&business oriented DDD framework you've ever met.
      </p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start"
             data-aos="zoom-in"
             data-aos-delay="100">
          <div class="pic"><img src="assets/img/team/team-1.jpg"
                 class="img-fluid"
                 alt=""></div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start"
             data-aos="zoom-in"
             data-aos-delay="200">
          <div class="pic"><img src="assets/img/team/team-2.jpg"
                 class="img-fluid"
                 alt=""></div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Product Manager</span>
            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start"
             data-aos="zoom-in"
             data-aos-delay="300">
          <div class="pic"><img src="assets/img/team/team-3.jpg"
                 class="img-fluid"
                 alt=""></div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start"
             data-aos="zoom-in"
             data-aos-delay="400">
          <div class="pic"><img src="assets/img/team/team-4.jpg"
                 class="img-fluid"
                 alt=""></div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section> -->
<!-- End Team Section -->


<!-- ======= Contact Section ======= -->
<!-- <section id="contact"
         class="contact">
  <div class="container"
       data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit.
        Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic
        quas.</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 5589 55488 55s</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                  frameborder="0"
                  style="border:0; width: 100%; height: 290px;"
                  allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php"
              method="post"
              role="form"
              class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text"
                     name="name"
                     class="form-control"
                     id="name"
                     required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email"
                     class="form-control"
                     name="email"
                     id="email"
                     required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text"
                   class="form-control"
                   name="subject"
                   id="subject"
                   required>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control"
                      name="message"
                      rows="10"
                      required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section> -->
<!-- End Contact Section -->
