<nz-card *ngIf="context">

  <form nz-form
        *formGroup="context.form as formGroup"
        autocomplete="off">
    <nz-form-item>
      <nz-form-label [nzSm]="4"
                     [nzXs]="24"
                     nzRequired>template</nz-form-label>
      <nz-form-control [nzSm]="20"
                       [nzXs]="24">

        <nz-select nz-input
                   [formControl]="formGroup.controls.template">
          <nz-option *ngFor="let item of Template | keyvalue"
                     [nzLabel]="item.key"
                     [nzValue]="item.value">
          </nz-option></nz-select>
      </nz-form-control>
    </nz-form-item>

    <ng-container [ngSwitch]="formGroup.controls.template.value">
      <ng-container *formGroup="formGroup.controls.args as formGroup">
        <!-- clientUiTemplate -->
        <ng-container *ngSwitchCase="Template.ClientUi">
          <ng-container *formGroup="formGroup.controls.clientUiTemplate as formGroup">
            <label>Client UI Template</label>
            <div nz-row
                 nzGutter="8">
              <nz-form-control nzSpan="24">
                <input nz-input
                       [formControl]="formGroup.controls.org"
                       placeholder="Organization">
              </nz-form-control>
            </div>
          </ng-container>

        </ng-container>

        <!-- moduleTemplate -->
        <ng-container *ngSwitchCase="Template.Module">
          <ng-container *formGroup="formGroup.controls.clientUiTemplate as formGroup">
            <label>Module Template</label>
            <div nz-row
                 nzGutter="8">
              <nz-form-control nzSpan="24">
                <input nz-input
                       [formControl]="formGroup.controls.org"
                       placeholder="Organization">
              </nz-form-control>
            </div>
          </ng-container>
        </ng-container>

        <!-- solutionTemplate -->
        <ng-container *ngSwitchCase="Template.Solution">
          <ng-container *formGroup="formGroup.controls.solutionTemplate as formGroup">
            <label>Solution Template</label>
            <div nz-row
                 nzGutter="8">
              <nz-form-control nzSpan="12">
                <input nz-input
                       [formControl]="formGroup.controls.org"
                       placeholder="Organization">
              </nz-form-control>
              <nz-form-control nzSpan="12">
                <input nz-input
                       [formControl]="formGroup.controls.projectName"
                       placeholder="Project Name">
              </nz-form-control>
            </div>
            <div nz-row
                 nzGutter="8">
              <nz-form-control nzSpan="12">
                <input nz-input
                       [formControl]="formGroup.controls.defaultModuleName"
                       placeholder="Default Module Name">
              </nz-form-control>
              <nz-form-control nzSpan="12">
                <input nz-input
                       [formControl]="formGroup.controls.defaultAggregateName"
                       placeholder="Default Aggregate Name">
              </nz-form-control>
            </div>
          </ng-container>
        </ng-container>

        <!-- schematicsTemplate -->
        <ng-container *ngSwitchCase="Template.SchematicsAggregateManageUi">
          <ng-container *formGroup="formGroup.controls.schematicsTemplate.controls.aggregateManageUIModule as formGroup">
            <label>Schematics Template</label>
            <div nz-row
                 nzGutter="8">
              <nz-form-control nzSpan="12">
                <input nz-input
                       [formControl]="formGroup.controls.module"
                       placeholder="Module">
              </nz-form-control>
              <nz-form-control nzSpan="12">
                <input nz-input
                       [formControl]="formGroup.controls.aggregateName"
                       placeholder="Aggregate Name">
              </nz-form-control>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

  </form>

  <div style="display: flex;
          text-align: center;
          gap: 10px;
          justify-content: center;">
    <span>
      <button nz-button
              type="submit"
              nzType="primary"
              [disabled]="!context.form.valid"
              (click)="submit()">
        <i nz-icon
           nzType="save"
           nzTheme="outline"></i>生成</button>
    </span>

  </div>


</nz-card>
